/* apply a natural box layout model to all elements, but allowing components to change */
html,
body {
	height: 100%;
}

::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
	height: 12px;
}

/* Estilo de la barra de desplazamiento en estado normal */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de fondo de la barra de desplazamiento */
  border-radius: 6px; /* Borde redondeado de la barra de desplazamiento */
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	line-height: unset;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 5rem 0 0 0;
	background-color: white;
	align-items: center;
	overflow: auto;
}


[class$='__contenedor'] {
	margin: 0 auto;
	width: 95%;
	max-width: 120rem;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&--loading {
		opacity: .8;
	}
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}
